{{ define "main" }}

<section class="site-blog-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Params.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-blog">
  <div class="container">
    <div class="row justify-content-center">
    {{ if .Params.is_active }}
      <div class="col-12">
        {{ .Content }}
      </div>
    {{ else }}
    <div class="col-12 text-center">
        <p class="h1">
            Coming Soon!
        </p>
      </div>
    {{ end }}
    </div>
  </div>
</section>

{{ end }}